SUPABASE_URL=https://bmmkozbxzxhboxjxztzn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtbWtvemJ4enhoYm94anh6dHpuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mzk2ODg2MSwiZXhwIjoyMDc5NTQ0ODYxfQ.y6dapUOWNROzOyXdE9d98ZHKsfIF7w57_whxO1eoVX4
NEXT_PUBLIC_SUPABASE_URL=https://bmmkozbxzxhboxjxztzn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtbWtvemJ4enhoYm94anh6dHpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5Njg4NjEsImV4cCI6MjA3OTU0NDg2MX0.oCVb11VgKGZawJnB8IkxETokJyNXQrJKon3-CZZX9mA
